export JAVA_HOME=$(dirname $(dirname $(dirname `readlink -f /etc/alternatives/java`)))
export HADOOP_HOME=/opt/hadoop
export HADOOP_COMMON_HOME=$HADOOP_HOME
export HADOOP_COMMON_DIR=share/hadoop/common
export HADOOP_COMMON_LIB_JARS_DIR=share/hadoop/common/lib
export HADOOP_COMMON_LIB_NATIVE_DIR=$HADOOP_HOME/lib/native
export HADOOP_CONF_DIR=$HADOOP_HOME/etc/hadoop
export HADOOP_TOOLS_HOME=$HADOOP_HOME
export HADOOP_TOOLS_DIR=share/hadoop/tools
export HADOOP_TOOLS_LIB_JARS_DIR=share/hadoop/tools/lib
export HADOOP_INSTALL=$HADOOP_HOME
export HADOOP_MAPRED_HOME=$HADOOP_HOME
export HADOOP_HDFS_HOME=$HADOOP_HOME
export LD_LIBRARY_PATH=$HADOOP_COMMON_LIB_NATIVE_DIR:LD_LIBRARY_PATH
export PATH=$PATH:$HADOOP_HOME/sbin:$HADOOP_HOME/bin
export HADOOP_OPTS="-Djava.library.path=$HADOOP_HOME/lib/native"
export YARN_HOME=$HADOOP_HOME
export YARN_RESOURCEMANAGER_USER=yarn
export YARN_NODEMANAGER_USER=yarn
